<!DOCTYPE html>
<html ng-app="choice">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Juan Choice</title>
  </head>
  <body ng-controller="ChoiceController as choice">
    <header>
      <h1 class="text-center">There Is Only JUAN Choice</h1>
    </header>
    <!-- Person Container -->
    <section class="pull-left col-xs-4">
      <div class="row" ng-repeat="person in choice.person">
        <img class="img-responsive" ng-src="{{person.image}}" alt="" />
        <h1 class="text-center">{{person.name}}</h1>
      </div>
    </section>
    <!-- tabs -->
    <section class="tab pull-left col-xs-8" ng-controller="TabController as tab" ng-repeat="person in choice.person">
      <ul class="nav nav-pills col-xs-12">
        <li ng-class="{active: tab.isSet(1)}">
          <a href ng-click="tab.setTab(1)">Intro</a></li>
        <li ng-class="{active: tab.isSet(2)}">
          <a href ng-click="tab.setTab(2)">Skills</a></li>
        <li ng-class="{active: tab.isSet(3)}">
          <a href ng-click="tab.setTab(3)">Contact</a></li>
      </ul>
      <div class="tab" ng-show="tab.isSet(1)">
        <h4>Intro</h4>
        <blockquote>{{person.intro}}</blockquote>
      </div>
      <div class="tab" ng-show="tab.isSet(2)" ng-show="person.skills.length">
        <h4>Skills</h4>
        <ul>
          <li ng-repeat="skill in person.skills">{{skill}}</li>
        </ul>
      </div>
      <div class="tab" ng-show="tab.isSet(3)">
        <h4>Contact</h4>
        <ul>
          <li><a href="mailto:{{person.email}}">Email me an Offer!</a></li>
          <li><a href="tel:{{person.phone}}">Call Now</a></li>
        </ul>
      </div>
    </section>
    </section>




  </body>
</html>
